@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

body {
  font-family: "Inter", sans-serif;
  margin: 0;
}
.header-bg {
  width: 100%;
  height: 742.7px;
  position: relative;
}
.header-content {
  color: white;
  padding: 175px 300px;
  text-align: center;
  background: linear-gradient(360deg, #121212 0%, rgba(18, 18, 18, 0) 100%);
  position: absolute;
  top: 0;
}
.header-content h1 {
  font-size: 65px;
}
.header-content p {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
}
button {
  border-radius: 5px;
  background: #ff5959;
  margin-top: 30px;
  padding: 15px;
  font-weight: 600;
  font-size: 20px;
  color: white;
  border: none;
  cursor: pointer;
}
button:hover {
  background: gray;
  transition: 0.5s;
}

.donate-today {
  text-align: center;
}
.donate-today-text h1 {
  font-size: 45px;
}
.donate-today-text p {
  font-family: "Poppins";
  font-size: 18px;
  color: #707070;
}

.donation-amounts {
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
}

.donation-amount {
  font-weight: 700;
  font-size: 30px;
  color: #707070;
  padding: 40px 15px;
  background: #fafafa;
  border-radius: 5px;
  margin: 11px;
  border: 2px solid white;
}
.donation-amount:hover {
  background: #ffeeee;
  border: 2px solid #ff5959;
  border-radius: 5px;
  color: #ff5959;
  transition: 0.5s;
}

.donate-today input {
  width: 765px;
  border: none;
  outline: none;
  text-align: center;
  padding: 10px;
  border-bottom: 1px solid #dadada;
  color: #b3b3b3;
  font-family: "Poppins";
  font-size: 18px;
  line-height: 28px;
}

.donation-plan-section {
  margin: 130px 0px;
}
.donation-plan-text {
  text-align: center;
}
.donation-plan-text h1 {
  font-size: 45px;
}
.donation-plan-text p {
  font-family: "Poppins";
  font-size: 18px;
  color: #707070;
}
.donation-plans {
  display: flex;
  justify-content: center;
  margin: 0px 130px;
}
.donation-plan {
  border-radius: 5px;
  padding: 50px 23px;
  margin: 25px;
}
.donation-plan h1 {
  font-family: "Poppins";
  font-weight: 600;
}
.donation-plan p {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 16px;
  color: #707070;
}

#donation-plan-1 {
  background: rgba(79, 157, 166, 0.1);
}
#donation-plan-2 {
  background: rgba(255, 89, 89, 0.1);
}
#donation-plan-3 {
  background: #fff4d6;
}

#donation-plan-1:hover {
  background: linear-gradient(360deg, #aeaeae 0%, rgba(79, 157, 166, 0.1) 90%);
  transform: scale(1.2);
  transition: 0.5s;
}
#donation-plan-2:hover {
  background: linear-gradient(360deg, #aeaeae 0%, rgba(255, 89, 89, 0.1) 90%);
  transition: 0.5s;
  transform: scale(1.2);
}
#donation-plan-3:hover {
  background: linear-gradient(360deg, #aeaeae 0%, #fff4d6 90%);
  transition: 0.5s;
  transform: scale(1.2);
}

.how-to-contribute {
  display: flex;
  justify-content: space-between;
  margin: 0px 250px 100px 110px;
}

.contribute-img img {
  width: 456px;
  height: 477px;
  margin: 0px 25px;
  padding: 0px 20px;
}
.contribute-text {
  padding: 0px 20px;
  margin: 0px 25px;
}
.contribute-text h1 {
  font-weight: 700;
  font-size: 45px;
}
.contribute-text p {
  font-family: "Poppins";
  font-size: 18px;
  color: #707070;
}

.subscribe-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subscribe-form h1 {
  font-size: 45px;
}
.subscribe-form p {
  font-family: "Poppins";
  font-size: 18px;
  color: #707070;
}
.subscribe-form form {
  background: #fff4d6;
  width: 60%;
  text-align: center;
  padding: 76px 188px;
}
#email-input {
  background: #d9d9d9;
  border-radius: 5px 0px 0px 5px;
  border: none;
  outline: none;
  height: 20px;
  width: 240px;
  padding: 14px 17px;
}
#submit-input {
  background: #ff5959;
  border-radius: 0px 5px 5px 0px;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
  border: none;
  cursor: pointer;
  padding: 14px 43px;
}

footer {
  padding: 40px 600px;
  background: #0b0d17;
  color: #d9dbe1;
  text-align: center;
  margin-top: 130px;
}
footer p {
  color: #ff5959;
  font-family: "Lobster", cursive;
  font-size: 36px;
  letter-spacing: 0.5px;
}
