@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

body {
  font-family: "Inter", sans-serif;
  margin: 0;
}
.header-bg {
  width: 100%;
  height: 742.7px;
  position: relative;
}
.header-content {
  color: white;
  padding: 175px 300px;
  text-align: center;
  background: linear-gradient(360deg, #121212 0%, rgba(18, 18, 18, 0) 100%);
  position: absolute;
  top: 0;
}
.header-content h1 {
  font-size: 65px;
}
.header-content p {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
}
button {
  border-radius: 5px;
  background: #ff5959;
  margin-top: 30px;
  padding: 15px;
  font-weight: 600;
  font-size: 20px;
  color: white;
  border: none;
  cursor: pointer;
}
button:hover {
  background: gray;
  transition: 0.5s;
}

.donate-today {
  text-align: center;
}
.donate-today-text h1 {
  font-size: 45px;
}
.donate-today-text p {
  font-family: "Poppins";
  font-size: 18px;
  color: #707070;
}

.donation-amounts {
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
}

.donation-amount {
  font-weight: 700;
  font-size: 30px;
  color: #707070;
  padding: 40px 15px;
  background: #fafafa;
  border-radius: 5px;
  margin: 11px;
  border: 2px solid white;
}
.donation-amount:hover {
  background: #ffeeee;
  border: 2px solid #ff5959;
  border-radius: 5px;
  color: #ff5959;
  transition: 0.5s;
}

.donate-today input {
  width: 765px;
  border: none;
  outline: none;
  text-align: center;
  padding: 10px;
  border-bottom: 1px solid #dadada;
  color: #b3b3b3;
  font-family: "Poppins";
  font-size: 18px;
  line-height: 28px;
}

footer {
  padding: 40px 600px;
  background: #0b0d17;
  color: #d9dbe1;
  text-align: center;
  margin-top: 130px;
}
footer p {
  color: #ff5959;
  font-family: "Lobster", cursive;
  font-size: 36px;
  letter-spacing: 0.5px;
}
